<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <!--Div do login-->
       <div class="col-md-6"> 
           <div class="row d-flex justify-content-center">
               <div class="col-md-6">

                <h1 class="text-center mb-3">Entrar</h1>
                <!--Formulario-->
                <div class="form-group">
                    <label for="usuario">Usuário</label>
                    <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário">
                </div>
                <div class="form-group">
                    <label for="usuario">Senha</label>
                    <input class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
                </div>
                <!--Formulario-->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">Entrar</button>
                </div>

                <!--Linha separando o form do texto abaixo-->
                <hr class="mt-5 mb-5">
                <!--Linha separando o form do texto abaixo-->

                <!--texto e link para cadastro-->
                <p class="text-center">Não tem uma conta? <a href="">Cadastre-se</a>
                </p>
                <!--texto e link para cadastro-->
               </div>
           </div>
       </div> 
       <!--Div do login-->
       <!--Div da imagem de bg-->
       <div class="col-md-6" id="img-bg"></div>
       <!--Div da imagem de bg-->
    </div>
</div>
