<!--div container-->
<div class="container-fluid">
    <!--div row-->
    <div class="row bg-secondary d-flex align-items-center">
        <!--coluna da esquerda - seja bem vindo-->
        <div class="col-md-6">
            <!--row do texto-->
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white">
                    <h1 class="fs-54">Seja bem vinde!</h1>
                    <h5 class="fs-18">Expresse aqui seus pensamentos e opiniões</h5>
                </div>
            </div>
            <!--row do texto-->
            <!--row botoes-->
            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <!--botão modal novapostagem-->
                    <button class="btn btn-light mr-2" data-toggle="modal" data-target="#novaPostagem">Nova Postagem</button>
                    <!--botão modal novapostagem-->

                    <a class="btn btn-outline-light" href="#postagens">Ver Postagens</a>
                </div>

            </div>
            <!--row botoes-->
        </div>
        <!--coluna da direira - imagem-->
        <div class="col-md-6 d-flex justify-content-center">
            <img src="https://i.imgur.com/erBWXHe.png" alt="imagem olá" width="500px" height="500px">
        </div>
    </div>
    <!--div row-->
</div>
<!--div container-->

<!--div do menu postagens-->
<div class="container mb-5 mt-5" id="postagens">

    <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

          <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-todaPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todaPostagens" aria-selected="true">Todas as postagens</a>

          <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-minhaPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhaPostagens" aria-selected="false">Minhas postagens</a>

          <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-postagensTema-tab" data-toggle="tab" href="#postagensTema" role="tab" aria-controls="nav-postagensTema" aria-selected="false">Postagens por tema</a>

        </div>
      </nav>

      <!--efeitos do menu postagens-->
      <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todaPostagens-tab">
        Todas as postagens    
        </div>

        <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhaPostagens-tab">
        Minhas postagens
        </div>

        <div class="tab-pane fade" id="postagensTema" role="tabpanel" aria-labelledby="nav-postagensTema-tab">
        Postagens por tema
        </div>

      </div>
      <!--efeitos do menu postagens-->
</div>
<!--div do menu postagens-->

<!--modal de novapostagem-->
  <!-- Modal -->
  <div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Nova postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-body">
          <!--Formulario de postagem-->  
          <div class="formgroup mb-2 mt-2">
            <label for="titulo">Titulo</label>
            <input type="text" class="form-control" id="titulo" placeholder="Digite o titulo">
          </div>

          <div class="formgroup mb-2 mt-2">
            <label for="texto">Texto</label>
            <textarea class="form-control" name="texto" id="texto" rows="3"></textarea>
          </div>

          <div class="formgroup mb-2 mt-2">
            <label for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink='/tema'>cadastre um novo</a>:
            </label>
            <select class="form-control" name="tema" id="tema">
                <option></option>
            </select>
          </div>
          <!--Formulario de postagem--> 
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success">Publicar</button>
        </div>
      </div>
     </div>
    </div>
    <!-- Modal -->
<!--modal de novapostagem-->

