<!--div container-->
<div class="container-fluid">
    <!--div row-->
    <div class="row bg-secondary d-flex align-items-center">
        <!--coluna da esquerda - seja bem vindo-->
        <div class="col-md-6">
            <!--row do texto-->
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white">
                    <h1>Seja bem vinde!</h1>
                    <h5>Expresse aqui seus pensamentos e opiniões</h5>
                </div>
            </div>
            <!--row do texto-->
            <!--row botoes-->
            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class="btn btn-light mr-2">Nova Postagem</button>
                    <a class="btn btn-outline-light" href="">Ver Postagens</a>
                </div>

            </div>
            <!--row botoes-->
        </div>
        <!--coluna da direira - imagem-->
        <div class="col-md-6 d-flex justify-content-center">
            <img src="https://i.imgur.com/erBWXHe.png" alt="imagem olá" width="500px" height="500px">
        </div>
    </div>
    <!--div row-->
</div>
<!--div container-->
